<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/harrow/view/style/resetpass.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.1/css/all.css" type="text/css">
    <link rel="shortcut icon " type="image/x-icon" href="/harrow/view/images/tab_icon.png">
    </link>
    <title>Harrow - Forgot Password</title>
</head>

<body>
    <div class="background"></div>
    <div class="logo"><img src="/harrow/view/images/logo_white_color.png" alt=""></div>
    <!--Reset Password-->

    <div class="forms">
        <form method="POST" class="form-wrap">
            <div id="reset_error"></div>

            <h1>Reset password</h1>
                <br>
                A password link will be sent to the email bellow
                <br>
                <br>
            

            <div class="form-reset">
                <i class="far fa-at"></i> 
                <input type="email" class="form-control" id="email" placeholder="Email" name="email" required="" />
            </div>

            <div class="form-submit">
                <input type="submit" value="Send" id="reset_btn" />
                <br>
                <br>
                or <a href="/harrow/view/login/login.html">Back to Login</a>
            </div>
        </form>
    </div>
</body>

</html>