<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/harrow/view/style/resetpass.css" />

    <title>Reset Password</title>
</head>

<body>
    <!--Reset Password-->

    <div class="form-container">
        <form method="POST" class="form-wrap">
            <div id="reset_error"></div>

            <h3>Reset password</h3>
            <p>
                Enter your email and we will sent you a link to reset your password.
            </p>

            <div class="form-reset">
                <input type="email" class="form-control" id="email" placeholder="Email" name="email" required="" />
            </div>

            <div class="form-submit">
                <input type="submit" value="Send" id="reset_btn" />
                or <a href="/harrow/view/login/login.php">Back to Login</a>
            </div>
        </form>
    </div>
</body>

</html>