<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/harrow/view/style/resetpass.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.1/css/all.css" type="text/css">
    <link rel="shortcut icon " type="image/x-icon" href="/harrow/view/images/tab_icon.png">

    <script src="/harrow/view/style/pass_box.js"></script>
    <title>Reset Password</title>
</head>

<body>
    <div class="background"></div>
    <div class="logo"><img src="/harrow/view/images/logo_white_color.png" alt=""></div>
    <div class="forms">
        <form method="post">

        

            
                <p>To reset your password you have to change it.
                    Please enter your new password.</p>
                <h3>Change your password</h3>

                
                <div class="form-change">
                    <input type="password" class="form-control" id="password_re" placeholder="Password" name="password_re"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,32}"
                    title="Your password must be at least 8 characters long, contain at least one number, one symbol and have a mixture of uppercase and lowercase letters."
                    required="">
                    <span class="error_form" id="re_pass_error"></span>

                    <br>
                    Show Password
                    <button type="button" class="show-pass-btn"><i class="fas fa-eye-slash"></i></button>
                    <br>
                </div>

                
                <input type="submit" name="save_password_edit" class="btn btn-primary" value="Save" id="save_btn">
            

        

            </form>

    </div>
</body>

</html>