@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}



body
{
    overflow-x: hidden;
    
}


.container
{
    position: relative;
    width: 100%;
}
.navigation ul li a  
{
    position: relative;
    display: block;
    min-width: 200px;
    height: max-content;
    line-height: 60px;
    text-align:center;
    
}

.dash-title{
    font-size: 1.2em;
    font-weight: bold;
}

.logo 
{
    position: relative;
    display: inline-block;
    width: 80%;
    height: 5em;
    transform: scale(0.7);
    margin: auto;
    text-align: center;
    left:50%;
    top:1em;
    transform: translate(-50%);
    
}



.navigation
{
    position: fixed;
    width: 16em;
    height: 100%;
    background:rgb(223, 216, 221);
    transition: 0.5s;
    overflow: hidden;
    border-right: 1px solid white;
    font-size: 0.8em;
    z-index: 1;
}

.navigation.active
{
    width: 65px;
}

.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li
{

    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li.active
{
    background: #ffff;
  
}

.navigation ul li:hover
{
 background: #77216F;
}


.navigation li:hover > *{
    color: white !important;
}

.navigation ul li:nth-child(1)
{
    margin-bottom: 20px;
}

.navigation ul li:nth-child(1):hover
{
    background: transparent;
}

.navigation ul li a
{
    position: relative;
    display: block;
    width:100%;
    display: flex;
    text-decoration: none;
    color: rgb(88, 86, 86);
    

}
.navigation ul li.active a
{
   color:rgb(44, 41, 41);
  
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align:center   ;
}

.navigation ul li a .icon .fa
{
    color: rgb(88, 86, 86);
    font-size: 1em;
}

.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.main
{
    position: absolute;
    width: calc(100% - 12.7em); 
    left: 12.8em;
    min-height: 100vh;
    background:rgb(223, 216, 221);
    transition: 0.5s;
}

.main.active
{
    width: calc(100% - 65px);
    left: 65px;
}

.main .topbar
{
    width: 100%;
    background: rgb(223, 216, 221);
    height: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    border-bottom: 1px solid white;
}

/* .toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
} */

.toggle{
    position: relative;
    text-align: center;
    left:1em;
    cursor: pointer;
}

.toggle:hover{
    color:orange;
    transform: scale(1.2);
    transition: 0.15s all 0.15s;
}



.search
{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label
{
    position: relative;
    width: 100%;
}

.search label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.search label .fas
{
    position: absolute;
    left: 15px;
    top: 4px;
}



.cardBox
{

    position: relative;
    width: 95%;
    left: 5%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2,45%);
    grid-gap:20px;

}

.cardBox-column{
    width:100%;
    display:flex;
    flex-direction:column;
    height:100%;
    
}

.inner-card{
    border-radius: 25px;
    border: 2px solid #ad2144;  
    position: relative;
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin:1em;
    height: max-content;
}

.cardBox .card
{
    border-radius: 25px;
    border: 2px solid #ad2144;  
    position: relative;
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.cardBox .card .content,
.inner-card .content
{
    max-height: min-content;
}

.cardBox .card:hover,
.inner-card:hover
{
    animation: bounce 1s linear;
}

@keyframes bounce
{
    20%,50%,80%, to
    {
        transform: translateY(0);
    }
    40%
    {
        transform: translateY(-30px);
    }
    70%
    {
        transform: translateY(-15px);
    }
    90%
    {
        transform: translateY(-4px);
    }
}

.cardBox .card .numbers
{
    position: relative;
    font-size: 1em;
    font-weight: 500;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
}


.iconBox
{
    font-size: 1em;
    color: #77216F ;
    padding: 15px;
}

.avatar-top-bar
{
    position: relative;
    left: -5px;
    min-width: 50px;
    width: 50px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    margin-left: auto;
    order: 2;
}

.avg-data{
    width: 100%;
    position: relative;
}

.select-title{
    position: relative;
    width: 100%;
    text-align: center;
    margin:0.2em;
}

.content *{
    position: relative;
    width: 100%;
    text-align: center;
    margin:0.2em;
}

.content button{
    width: 80%;
    background:none;
    padding:0.4em;
    border-radius: 0.4em;
    border:1px solid black;
    overflow:hidden;
    color:rgb(88, 86, 86);
}

.content button:hover{
    background: purple !important;
    border:1px solid purple !important;
    color: white;
    transition: 0.15s all 0.15s;
    cursor: pointer;
    
}

.selected {
    background: darkorange !important;
    border:1px solid darkorange !important;
    color: white !important;
    transition: 0.15s all 0.15s;
}

.buttons {
    width: 20%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}



.diagramm-card {
    width: 96%;
    display: flex;
    height: 25em;
    margin:0;
}

.select-title{
    display: inline-block;
    background: rgba(64, 12, 60, 0.45);
    color: white;
    width: 90%;
    margin-bottom: 1em;
    border-radius: 0.4em;
}


::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.4em;
}

::-webkit-scrollbar-thumb {
  
  background: rgba(64, 12, 60, 0.45);
  border-radius: 0.5em;
}

.select-all-btn{
    margin:1em;
}

.diagramm{
    position:relative;
    width: 100%;
    background:none;
    
}