.page {
  display: flex;
  position: relative;
  top:5em;
  
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  left:50%;
  transform: translateX(-50%);
  height: max-content;
  
}

#welcome-icon {
  position: relative;
  left: 0.2em;
  font-size: 10em;
}

#hello-msg {
  left: 5em;
  font-size: 2em;
  top: 0;
}

.break{
  flex-basis: 100%;
}

.card {
  width: 100%;
  margin:0.4em;
  padding: 0.4em;
  background: rgb(187, 164, 185);
  border-radius: 0.4em;
  text-align: center;
  overflow: auto;
  
}

.card:hover{
  background: rgba(102, 62, 116);
  transition: 0.1s all 0.1s;
}

.card:hover .info-title ,.card:hover #username{
  color: orange !important;
  border-bottom: 1px solid orange;
  transition: 0.1s all 0.1s;
}

.card-box{
  position:relative;
  width: 100%;
  height: 90% ;
  display: grid;
  grid-template-columns: repeat(2,48%);
  grid-gap:20px;
}

.card-box-column{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100%;
  
  
}

.flex-div{
  display:flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 100%;
  flex-direction: column;
}



#home-msg-1 {
  width: 100%;
  height: 100%;
  line-height: 100%;
  
  
}

#hello{
  height: 20%;
}


#username{
  font-size: 1.2em;
  color: darkorange;
}


.avatar {
  height: 92.5%;
  width: 100%;
  padding: 0.4em;
  border-radius: 0.4em;
  text-align: center;
  
}

.avatar-img{
  height:12em;
}

.info-title{
  color: darkmagenta;
  
  
}

.inner{
  height: 20%;
}

::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.4em;
}

::-webkit-scrollbar-thumb {
  
  background: rgb(41, 6, 44);
  border-radius: 0.4em;
}
