body {
  padding: 0;
  margin: 0;
  font-size: 1em;
  overflow: auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  color: rgb(198, 198, 198);
}

.logo{
    position:fixed;
    left:20%;
    top:35%;
    transform: translate(-35%,-40%);
    transform: scale(1.2);
    
}

.background {
  position: fixed;
  width: 105%;
  height: 105%;
  transform: scale(1.1);
  background: url(/harrow/view/images/map.png) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(3px);
  z-index: -2;
}

.forms{
    position: absolute;
    height: 100%;
    background: linear-gradient(to right, transparent,30%,rgba(48, 6, 57, 0.827));
    right: 0;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}





.login-msg {
  font-size: 2em;
}

.email-msg {
  margin-top: 1em;
}

input {
  width: 10em;
  background: rgba(50, 50, 50, 0.849);
  font-size: 1em;
  margin-top: 0.5em;
  padding: 0.5em;
  border: none;
  border-radius: 0.4em;
  color:white;
}

input:focus {
  outline: none;
}

#email_log,#password_log{
  border-radius: 0;
  border-bottom: 1px solid purple;
  background: none;
}

#email_log:focus,#password_log:focus{
  border-bottom: 1px solid orange;
  transition: 0.15s all 0.15s;
}


#show-pass {
  margin: 0px;
  padding: 0px;
  width: max-content;
}

.email-input {
  border-radius: 0.4em;
}

.password-msg {
  margin-top: 1em;
}

#show-pass-msg {
  font-size: 0.8em;
}

.show-pass-btn {
  font-size: 0.8em;
  background: rgba(97, 0, 97, 0.6);
  border-radius: 0.4em;
  border: none;
  margin-top: 0.4em;
}

.show-pass-btn:hover {
  cursor: pointer;
}

#forgot-pass,#login-redirect {
  font-size: 0.8em;
  color:rgb(163, 2, 163);
}

#login-redirect{
  font-size: 1.2em;
}



#login-redirect:hover,
#forgot-pass:hover{
  color: orange;
  transition: 0.15s all 0.15s;
}

#login_btn , #register_btn{
  background: rgba(97, 0, 97, 0.6);
}

#reg-msg{
  font-size: 0.8em;
}


#login_btn:hover,
#main_register:hover,
#register_btn:hover {
  
  color:rgb(250, 180, 51);
  background: rgba(128, 0, 128, 0.6);
  cursor: pointer;
  transition: 0.15s all 0.15s;
}

#main_register {
  height: 3em;
  width: 50%;
  border-radius: 0.4em;
  border: none;
  font-size: 0.7em;
  color: rgb(198, 198, 198);
  background: rgba(97, 0, 97, 0.6);
}

#register-title {
  font-size: 2em;
}


#firstname,
#lastname,
#username,
#email_reg,
#password_reg{
  background: none;
  border-radius: 0;
  border-bottom: 1px solid purple;
}

#firstname:focus,
#lastname:focus,
#username:focus,
#email_reg:focus,
#password_reg:focus{
  border-bottom: 1px solid orange;
  transition: 0.15s all 0.15s;
}




.error_form {
  color: rgb(219, 3, 3);
  font-size: 0.8em;

  border-radius: 0.4em;
  padding: 0.3em;
}
#login_error {
  font-size: 0.8em;
  color: rgb(219, 3, 3);
}

#register_error {
  font-size: 0.8em;
  color: rgb(219, 3, 3);
}

#password_reg_info {
  /* position: fixed; */
  font-size: 0.7em;
  background: rgba(97, 0, 97, 0.6);
  color: rgb(198, 198, 198);
  padding: 0.8em;
  border-radius: 0.4em;
  /* bottom: 0;
  left:50%;
  transform: translate(-50%,-0%); */
}

ul {
  list-style-type: none;
}

.valid {
  color: rgb(7, 219, 7);
}

.invalid {
  color: rgb(250, 67, 67);
}

#hide-pass-info{
  color: gray;
  font-size: 0.8em;
}