body {
  padding: 0;
  margin: 0;
  font-size: 1em;
  overflow: auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  color: rgb(198, 198, 198);
}

.logo{
    position:fixed;
    
    left:20%;
    top:40%;
    transform: translate(-40%,-40%);
    transform: scale(1.5);
    
}

.background {
  position: fixed;
  width: 105%;
  height: 105%;
  transform: scale(1.1);
  background: url(/harrow/view/images/map.png) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(3px);
  z-index: -2;
}

.forms{
    position: absolute;
    height: 100%;
    background: linear-gradient(to right, transparent,30%,rgba(48, 6, 57, 0.827));
    
    right: 0;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}





.login-msg {
  font-size: 2em;
}

.email-msg {
  margin-top: 1em;
}

input {
  width: 10em;
  background: rgba(50, 50, 50, 0.423);
  font-size: 1em;
  margin-top: 0.5em;
  padding: 0.5em;
  border: none;
  border-radius: 0.4em;
  color:white;
}

input:focus {
  outline: none;
  
}

#show-pass {
  margin: 0px;
  padding: 0px;
  width: max-content;
}

.email-input {
  border-radius: 0.4em;
}

.password-msg {
  margin-top: 1em;
}

#show-pass-msg {
  font-size: 0.8em;
}

.show-pass-btn {
  font-size: 0.8em;
  background: rgba(90, 90, 90, 0.7);
  border-radius: 0.4em;
  border: none;
  margin-top: 0.4em;
}

.show-pass-btn:hover {
  cursor: pointer;
}

#forgot-pass {
  font-size: 0.8em;
}

#login_btn {
  background: rgba(80, 80, 80, 0.786);
}

#login_btn:hover,
#main_register:hover,
#register_btn:hover {
  color: rgb(210, 58, 190);
  
  cursor: pointer;
}

#main_register {
  height: 3em;
  width: 50%;
  border-radius: 0.4em;
  border: none;
  font-size: 0.7em;
  background: rgba(80, 80, 80, 0.786);
}

#register-title {
  font-size: 2em;
}

#first-name-title,
#last-name-title,
#user-name-title,
#email-title,
#password-title {
  margin-top: 0.3em;
}

.error_form {
  color: rgb(219, 3, 3);
  font-size: 0.8em;

  border-radius: 0.4em;
  padding: 0.3em;
}
#login_error {
  font-size: 0.8em;
  color: rgb(219, 3, 3);
}

#register_error {
  font-size: 0.8em;
  color: rgb(219, 3, 3);
}

#password_reg_info {
  position: fixed;

  font-size: 0.7em;
  background: rgba(47, 47, 47, 0.918);
  color: white;
  padding: 0.4em;
  border-radius: 0.4em;
  bottom: 20%;
  right: 20%;
}

ul {
  list-style-type: none;
}

.valid {
  color: rgb(7, 219, 7);
}

.invalid {
  color: rgb(250, 67, 67);
}