html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
    text-align: center;
    margin: 10%;
    font-variant: lining-nums;
    border: 3px solid #92a89b;
    padding: 30px;
    width: 40%;
    position: relative;
    height: 200%;
    top: 50%;
    left: 17%;
    font-style: italic;
    font-family: Verdana, Tahoma, sans-serif;

    
}

.form-change input[type="password"]{
    margin: 2%;
    border: 1.8px solid #bcc9b6;
    padding: 1%;
    width: 50%;
    
    
}

.form-change input[type="text"]{
    margin: 2%;
    border: 1.8px solid #bcc9b6;
    padding: 1%;
    width: 50%;
    
    
}

.form-submit input[type="submit"]{
    margin: 1%;
    border: 0px solid #546457;
    padding: 1%;
    width: 20%;
    background-color: rgb(63, 82, 76);
    font-weight: bold;
    font-size: 100%;
    font-style: italic;
    color: rgb(199, 228, 228);
    
}

.form-submit input[type="submit"]:hover {
    background-color: rgb(5, 114, 81);
}

h3{
    font-size: 27px;
    color: rgb(6, 43, 43);
}

p{
    font-size: 98%;
    color: rgb(6, 43, 43);
    width: 60%;
    text-align: left;
    position: relative;
    left: 13%;
    margin-bottom: 1px;
    
}