body {
  color:  rgb(65, 65, 65);
  top:5em;
}

.page {
    position: relative;
    top:5em;
    text-align: center;
    justify-content: center;
    align-items: center;
  
}

.avatar-selector{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#customize-avtr{
    background:none;
    border: none;
}

#customize-avtr:hover{
    cursor: pointer;
    color: darkorange;
    transform: scale(1.2);
    transition: 0.15s all 0.15s;
}

#choose-avtr-msg{
    flex-basis: 100%;
    margin: 0.4em;
}

.avatar{
    margin:0.4em;
    height:7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-new{
    flex-basis: 10%;
}

.avatar-new:hover{
    cursor: pointer;
    background: purple;
    transition: 0.15s all 0.15s;
}

.avatar-img{
    height: 7em;
    margin:0.5em;
    background: rgba(64, 12, 60, 0.45);
    padding: 0.4em;
    border-radius: 0.4em;
}

.action-buttons{
    width: 100%;
    text-align: center;
    
}

.btn-sm, .btn-primary{
    font-size: 1.2em;
    border:none;
    border-bottom:1px solid  rgb(65, 65, 65);
    padding:0.4em;
    background:none;
   
}

.btn-sm:hover, .btn-primary:hover{
    cursor: pointer;
    color: darkorange;
    transition: 0.15s all 0.15s;
    border-bottom:1px solid darkorange;
    
}

input{
    background:none;
    border:none;
    border-bottom: 1px solid purple;
    padding:0.4em;
   
    color: black;
    margin:0.4em;
}



input::placeholder{
    color: rgb(161, 161, 161);
}

input:focus{
    outline: none;
    border-bottom: 1.5px solid darkorange;
    transition:  all 0.25s;
    transition-timing-function: ease-in;
}

#edit_user_btn , #edit_pass_btn{
    border: 1px solid black;
    border-radius: 0.2em;
}

#edit_user_btn:hover , #edit_pass_btn:hover{
    border: 1px solid darkorange;
    color: darkorange;
}





.show-pass-btn, .show-pass-btn-chpass{
    background:none;
    border: none;
}

.show-pass-btn:hover,.show-pass-btn-chpass:hover{
    cursor: pointer ;
    color:purple !important;
}