body{
    padding: 0;
    margin: 0;
    font-size: 1em;
    background: rgb(224, 224, 224);
    color: rgb(226, 226, 226);
    font-family: "Ubuntu", sans-serif;
}
 .top-bar{
    position: fixed;
    
    width: 100%;
    
    height: 150px;
    
} 


#the-logo{
    
    width: 8em;
    left:0.2em;
    padding: 0.4em;
}

a:link,
a:visited,
a:active {
  color: rgb(41, 6, 44);
}

.nav-btn{
    float: right;
    margin: 1em;
    margin-left:0.5em;
    
}

.action-btn{
    position: relative;
    top:-2em;
    margin: 1em;
}

.nav-btn:hover,.action-btn:hover i{
    color: darkorange;
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.2s all 0.2s;
}

.avatar-top-bar{
    position: relative;
    width: 2.2em;
    height: 2.2em;
    top: -0.3em;
    background:rgba(64, 12, 60, 0.45);
    padding: 0.2em;
    border-radius: 0.4em;

}