body {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

.page {
  padding-top: 8em;
}

.logo {
  display: inline-block;
  position: relative;
}

a:link,
a:visited,
a:active {
  color: black;
}

.top-bar {
  font-family: "Ubuntu", sans-serif;
  white-space: nowrap;
  display: inline-block;
  position: fixed;
  margin: 0em;
  border-bottom: 1px solid white;
  width: 100%;
  padding: 20px 20px 20px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 15px;
}

.nav-btn {
  position: relative;
  right: 5%;
  padding-left: 20px;
  float: right;
  text-align: right;
}

.notifications {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: transparent;
  bottom: 2em;
  right: 4em;
  height: 500px;
  align: right;
  width: 20em;
  z-index: -1;
}

.notification {
  display: flex;
  float: right;
  align-items: center;
  background: rgba(149, 157, 165, 0.5);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.7em;
  padding-left: 0.3m;
  border: 1px solid white;
  border-radius: 0.4em;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.no-files {
  font-size: 0.8em;
  top: 50%;
  width: 100%;
  text-align: center;
  color: rgb(168, 168, 168);
  z-index: -1;
}

.import-icon {
  padding: 20px;
  font-size: 2em;
}

.action-btn {
  padding-left: 20px;
}

.upload-btn {
  text-align: center;
  background: white;
}

.file-dlt-btn,
.file-dow-btn {
  border: none;
}

.file-list {
  color: rgb(63, 63, 63);
  border-collapse: collapse;
  border: 1px solid none;
}

.btn {
  font-size: 1.3em;
  background: none;
  cursor: pointer;
  border: none;
}

.new-files {
  width: 95%;
  position: absolute;
  top: 13em;
  left: 50%;
  transform: translate(-50%, -50%);
}

.file-table {
  text-align: center;
  table-layout: fixed;
  height: max-content;
  margin: 0px;
}

.file-table td {
  white-space: nowrap;
  overflow: hidden;
  border: 1em transparent;
  border-radius: 0.2em;
}

.file-table tr {
  border: 1px solid black;
}

.file-table th {
  background: rgb(164, 207, 164);
  border: 1em transparent;
  border-radius: 0.4em;
}

.file-table th:nth-of-type(2) {
  width: 3%;
}

.file-table th:nth-of-type(3) {
  width: 70%;
  padding-left: 1em;
}

.file-table th:nth-of-type(4) {
  width: 10%;
}

.file-table th:nth-of-type(5) {
  width: 10%;
}

.file-table th:nth-of-type(6) {
  width: 10%;
}

.file-table td:nth-of-type(2) {
  max-width: 65em;
  text-align: left;
  padding-left: 1em;
}

tr:nth-child(even) {
  background: rgb(245, 245, 245);
}

tr:nth-child(odd) {
  background: #e1e1e1;
}

#ready-to-upload-msg {
  text-align: center;
  background: rgba(149, 157, 165, 0.2);
  border-radius: 0.4em;
  padding: 0.5em; /*white-space: nowrap;*/
}

#save-to-server-btn,
#delete-multiple-new-btn,
#download-multiple-new-btn {
  float: right;
  font-size: 1em;
  background-color: white;
  color: black;
  padding: 0.5em;
  border-radius: 0.4em;
  margin-top: 0.5em;
  margin-left: 0.5em;
  border: 1px solid gray;
}

#fake-upload {
  position: absolute;
  float: left;
  font-size: 1em;
  background: none;
  padding: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
  border-radius: 0.4em;
  text-align: center;
  border: 1px solid gray;
  width: 20em;
}

#fake-upload:hover {
  background: green;
  color: white;
}

#save-to-server-btn {
  width: 15em;
}

#save-to-server-btn:disabled,
#delete-multiple-new-btn:disabled,
#download-multiple-new-btn:disabled {
  background-color: gray;
  color: white;
}

#delete-multiple-new-btn:hover {
  background-color: red;
  color: white;
}

#download-multiple-new-btn:hover {
  background-color: blue;
  color: white;
}

#save-to-server-btn:hover {
  background-color: purple;
  color: white;
}

#selected-uploaded-files-msg {
  margin-top: 0.5em;
  vertical-align: middle;
  text-align: center;
  float: right;
  padding: 0.5em;
}

.error {
  background: rgba(236, 120, 120, 0.5);
}

.success {
  background: rgba(149, 246, 118, 0.5);
}

.notification-sign {
  color: black;
  margin-right: 0.9em;
  font-size: 2em;
  vertical-align: middle;
}

.close-notification {
  color: rgba(89, 89, 89, 0.5);
  right: 0px;
  font-size: 0.9em;
  border: none;
  top: 25em;
  vertical-align: middle;
}
