body {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

.logo {
  display: inline-block;
  position: relative;
}

a:link,
a:visited,
a:active {
  color: black;
}

.top-bar {
  white-space: nowrap;
  display: inline-block;
  position: fixed;
  border-bottom: 1px solid white;
  width: 100%;
  padding: 20px 20px 20px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 15px;
}

.nav-btn {
  position: relative;
  right: 5%;
  padding-left: 20px;
  float: right;
  text-align: right;
}

.no-files {
  font-size: 0.8em;
  top: 50%;
  width: 100%;
  text-align: center;
  position: fixed;
  color: rgb(168, 168, 168);
}

.import-icon {
  padding: 20px;
  font-size: 2em;
}

.action-btn {
  padding-left: 20px;
}

.upload-btn {
  text-align: center;
}

#fake-upload {
  background: none;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.file-list {
  color: rgb(63, 63, 63);
  border-collapse: collapse;
  border: 1px solid none;
}

.btn {
  font-size: 1.3em;
  border: none;
  background: none;
  cursor: pointer;
}

.file-table {
  text-align: center;

  table-layout: fixed;
  height: max-content;
}

.file-table td {
  white-space: nowrap;
  overflow: hidden;
}

.file-table tr {
  border: 1px solid black;
}

.file-table th {
  background: rgb(164, 207, 164);
}

.file-table th:nth-of-type(2) {
  width: 2em;
}

.file-table th:nth-of-type(3) {
  width: 65em;
  padding-left: 1em;
}
.file-table td:nth-of-type(2) {
  max-width: 65em;
  text-align: left;
  padding-left: 1em;
}

.file-table th:nth-of-type(4) {
  width: 10em;
}

.file-table th:nth-of-type(5) {
  width: 10em;
}

tr:nth-child(even) {
  background: rgb(245, 245, 245);
}

tr:nth-child(odd) {
  background: rgb(253, 231, 255);
}


